/_build/
/deps/
/assets/node_modules/
/docs-site/
/.elixir_ls/
/.git/
/.release-policy/
/cover/
/doc/
/tmp/
/.sisyphus/
/.env*
!.env.example
erl_crash.dump
*.ez
codex_pooler-*.tar

/vendor/gen_smtp/_build/
/vendor/gen_smtp/src/smtp_rfc822_parse.erl
